@font-face {
  font-family: 'megrimmedium';
  src: url('font/megrim/megrim-webfont.eot');
  src: url('font/megrim/megrim-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/megrim/megrim-webfont.woff2') format('woff2'),
  url('font/megrim/megrim-webfont.woff') format('woff'),
  url('font/megrim/megrim-webfont.ttf') format('truetype'),
  url('font/megrim/megrim-webfont.svg#megrimmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotolight';
  src: url('font/roboto/roboto-light-webfont.eot');
  src: url('font/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/roboto/roboto-light-webfont.woff2') format('woff2'),
  url('font/roboto/roboto-light-webfont.woff') format('woff'),
  url('font/roboto/roboto-light-webfont.ttf') format('truetype'),
  url('font/roboto/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoregular';
  src: url('font/roboto/roboto-regular-webfont.eot');
  src: url('font/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/roboto/roboto-regular-webfont.woff2') format('woff2'),
  url('font/roboto/roboto-regular-webfont.woff') format('woff'),
  url('font/roboto/roboto-regular-webfont.ttf') format('truetype'),
  url('font/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}