/* LAYOUT */
$maxPageWidth: 140rem;

/* COLORS */
$lighterColor: #1293f1;
$darkerColor: #175da3;
$bgColor: #e4e4e4;

$fontColor: #3e3e3e;
$secondFontColor: #818181;
$thirdFontColor: #fff;

/* FONT */
$lightFont: "robotolight", "robotoregular", Arial, Helvetica, sans-serif;
$font: "robotoregular", Arial, Helvetica, sans-serif;
$fancyFont: "megrimmedium", "robotoregular", Arial, Helvetica, sans-serif;

/* MIXINS */
@mixin transition($arg)
{
  -o-transition : $arg;
  -moz-transition : $arg;
  -webkit-transition : $arg;
  transition : $arg;
}

@mixin boxShadow($arg)
{
  -webkit-box-shadow: $arg;
  box-shadow: $arg;
}


@mixin setContainer()
{
  max-width: $maxPageWidth;
  margin: auto;
}

